*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.container{
    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */
    width: 100vw;
    /* background-color: aqua; */

    height: 100vh;
}



@media (min-width: 780px) {
    .container{
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        /* margin: 50px auto; */
        /* background-color: red; */
        /* justify-content: unset; */
    }    
}


.side{
    width: 100vw;
    height: 35vh;  
    background-image: url('./images/bg-main-mobile.png');    
}

.form{    
    width: 80vw;
    /* background-color: bisque; */
    margin: auto;
    margin-top: 100px;
    /* padding: 30px;     */
}

/* form{
    width: 80%;
} */
.form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-input p{
    color: hsl(0, 100%, 66%);
    margin-top: 5px;
}

@media (min-width:768px){
    .side{
        width: 40%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size:cover;
        /* background-color: brown; */
    }
    .form{
        display: flex;       
        align-items: center;
        justify-content: center;
    }
    form{
        /* display: none; */
        
        /* width: 40%; */
        /* width: 50%; */

       
        margin: auto;
       
    }
}
label{
    text-transform: uppercase;
    margin: 5px;
    color: hsl(278, 68%, 11%);
    font-weight: bold;
    /* font-size: 18px; */
}
input{
    padding: 10px;
    border:1px solid hsl(279, 6%, 55%);
    border-radius: 10px;
}

.form section{
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    /* padding-right: 30px; */
    /* gap: 10px; */
    justify-content: space-between;
}
.section-date{   
    width:50%;
}

.section-cvc{   
    width: 50%;
}

.section-date input{
    width: 40%;
    display: inline-block;
}
.section-cvc input{
    display: block;
    width: 100%;
}
.section-date input:invalid, .section-cvc input:invalid{
    border: 2px red solid;
}


button{
    margin-top: 20px;
    width: 100%;
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    padding: 20px;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
}


.card-back{
    /* background-color: bisque; */
    max-width: 80%;
    height: 180px;
    /* min-width: 250px; */
    position: absolute;
    top: 30px;
    right: 15px;
}

.card-front{
    /* background-color: aqua; */
    max-width: 80%;
    /* min-width: 250px; */
    height: 180px;
    position: absolute;
    top: 130px;
    left: 15px;
    z-index: 1;
    box-shadow: 1px 20px 70px hsl(279, 6%, 55%);
}

@media (min-width:768px){
    .card-back{
        width: 30%;
        height: 30%;
        /* min-width: 250px; */
        position: absolute;
        top: 50%;
        left: 15%;
        box-shadow: 1px 20px 70px hsl(279, 6%, 55%);
    }
    
    .card-front{        
        width: 30%;       
        height: 30%;
        position: absolute;
        top: 15%;
        left: 10%;
        z-index: 1;
        box-shadow: 0 0 0;
    }
}




img{

    width: 100%;
    height: 100%;
}
.cvc-number{
    position: absolute;
    top: 45%;
    right: 10%;
    color: hsl(0, 0%, 100%);
}
.card-content{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -80px;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-style:normal;
}

.number{
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: 20px;
    font-size: 18px;

}
.details{
    display: flex;
    justify-content: space-between;    
}

.filled-circle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 20px;
    left: 20px;

}

.empty-circle{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    /* background-color: rgb(163, 8, 8); */
    position: absolute;
    top: 30px;
    left: 60px;
    border: 1px solid hsl(0, 0%, 100%);
    
}

.complete{
    display: none;
    /* width: 40%; */
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

#thanks{
    font-size: 24px;
    font-weight: 700;
}

.complete p{
    font-size: 18px;
    color: hsl(270, 5%, 49%);
    /* font-weight: 700; */
}

.svgDiv{
    width: 50px;
    height: 50px; 
    margin: auto;
    margin-bottom: 10px;
}

